img {border: 0;}

#xoopsHiddenText {visibility: hidden; color: #000000; font-weight: normal; font-style: normal; text-decoration: none;}

.pagneutral {font-size: 10px; width: 16px; height: 19px;text-align: center; }
.pagact {font-size: 10px; width: 16px; height: 19px;text-align: center; }
.paginact {font-size: 10px; width: 16px; height: 19px;text-align: center; }

#anp {font-size: 17px; text-align: center; color:#666666;font-weight: normal;}
#mainmenu a {text-align:left; display: block; margin: 0; padding: 4px;}
#mainmenu a.menuTop {padding-left: 3px;}
#mainmenu a.menuMain {padding-left: 3px;}
#mainmenu a.menuSub {padding-left: 9px;}

#usermenu a {text-align:left; display: block; margin: 0; padding: 4px;}
#usermenu a.menuTop {}
#usermenu a.highlight {color: #0000ff; background-color: #fcc;}


/*
ul {
	list-style: none;
	margin: 0;
	padding: 0;
	}
*/
/* =-=-=-=-=-=-=-[Menu Three]-=-=-=-=-=-=-=- */
	
#menu3 {
	width: 200px;
	border: 1px solid #ccc;
	margin: 10px;
	}
	
#menu3 li a {
  	height: 32px;
  	voice-family: "\"}\""; 
  	voice-family: inherit;
  	height: 24px;
	text-decoration: none;
	}	
	
#menu3 li a:link, #menu3 li a:visited {
	color: #888;
	display: block;
	background: url(imagem/menu3.gif);
	padding: 8px 0 0 30px;
	}
	
#menu3 li a:hover, #menu3 li a:active {
	color: #283A50;
	background: url(imagem/menu3.gif) 0 -32px;
	padding: 8px 0 0 30px;
	}
